body{
    margin: 0;
    background-color: rgb(232, 234, 237);
}

.field-card{
    display: flex;
}

/* div{
    border: 1px solid black;
} */

#navigator-bar-buttom{
    width: 100%;
    height: 10%;
    background-color: white;
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    
}

#navigator-bar-buttom > div{
    margin: auto;
    width: 10%;
    height: 55%;
    background-position: center;
    background-size: 100%;
}

#navigator-bar-buttom > div > a > div{
    width: 50px;
    height: 50px;
}
#home{
    background-image: url("../asset/097-Home.png");
}
#search-all{
    background-image: url("../asset/Find.png");
}
#my-store{
    background-image: url("../asset/book.png");
}
#notification{
    background-image: url("../asset/noti.png");
}
#profile{
    background-image: url("../asset/User.png");
}